
#we can create this file in side the core or root in this file we are storing user pwd and host
#
registry=http://nexus.apps.ocp4.imss.co.in/repository/npm-hosted/
//nexus.apps.ocp4.imss.co.in/repository/npm-hosted/:_auth=YWRtaW46YWRtaW4=
email=krishnakantyadav4142@gmail.com
always-auth=true
strict-ssl=false

